<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<script type="text/javascript" src="<!--填写src-->"></script><!--填写src-->
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.css}">
<link rel="stylesheet" type="text/css" href="../../static/css/muke.css">
</head>

<body class="backg_huibai" style="">

<!-- 顶部 -->


<!--观看历史内容-->
<div class="width100 float_l height490 img_backg1">
	<div class="width_1200 margin_auto">
    
    	<div class="width100 float_l margin_b20">
        	<div class="float_l">
            	<span class="fon_siz16">观看历史</span>
            </div>
        </div>
        
        <div class="width100 float_l">
        	<div class="width_224 height172 float_l margin_r20 border_shadow jingguoxianshi over_pos bianshou">
            	<div class="width100 float_l img_100 z_inx_1">
                	<img src="../../static/img/uiz7.jpg"><!--背景图片-->
                </div>
                <div class="img_backg2 donghua">
                    <span class="margin_t15 float_l ">飞速上手的跨平台App开发</span>
                    <span class="float_l fon_siz12 line_hei16 color_gray margin_t5 posi_relative ">8小时带领大家步步深入学习标签的基础知识，掌握各种样式的基本用法。</span>
                </div>
                <div class="width100 float_l padding_lr20 height48 fon_siz12 line_hei48 z_inx_3 posi_relative backg_white">
                    <span class="float_l color_red">2019-10：12</span><!--上次观看时间-->
                    <span class="float_r color_gray"><span></span>人在学</span><!--授课情况；……人在学-->
            	</div>
            </div>  
            
           
        </div>
        
    </div>
</div>

</body>
</html>